kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: user-binding
  namespace: office
subjects:
- kind: User
  name: {{ user }}
  apiGroup: ""
roleRef:
  kind: Role
  name: user
  apiGroup: ""
